In [1]:
from pathlib import Path

while Path.cwd().name != 'ambignli':
    %cd ..

%cd '../wanli'

/mmfs1/gscratch/xlab/alisaliu/ambignli
/mmfs1/gscratch/xlab/alisaliu/wanli

In [7]:
import pandas as pd
from tqdm import tqdm
from utils.constants import NLI_LABELS
from utils.utils import predict_nli
import random
from transformers import RobertaTokenizer, RobertaForSequenceClassification

In [5]:
test_df = pd.read_json('data/wanli/test.jsonl', lines=True)
# test_df.drop(['pairID', 'gold', 'genre'], axis=1).to_json('data/wanli/leaderboard_data/examples.jsonl', lines=True, orient='records')

In [ ]:
test_df[['id', 'gold']].to_json('data/wanli/leaderboard_data/answers.jsonl', lines=True, orient='records')

In [ ]:
preds_df = test_df[['id']]
preds_df['prediction'] = random.choices(NLI_LABELS, k=len(preds_df))
preds_df.to_csv('data/wanli/leaderboard_data/dummy_predictions.csv', index=False, header=None)

In [ ]:
sum(preds_df['prediction'] == test_df['gold'])/len(test_df)

In [28]:
model_name = 'anli-wanli'
model = RobertaForSequenceClassification.from_pretrained(f'models/roberta-large-{model_name}').to('cuda')
tokenizer = RobertaTokenizer.from_pretrained(f'models/roberta-large-{model_name}')

In [29]:
preds = []
for i, row in tqdm(test_df.iterrows(), total=len(test_df.index)):
    probs = predict_nli(row['premise'], row['hypothesis'], model, tokenizer)
    pred = max(probs, key=probs.get).lower()
    preds.append((row['id'], pred))

100%|██████████| 5000/5000 [01:17<00:00, 64.45it/s]

In [32]:
sum(preds_df['prediction'] == test_df['gold'])/len(test_df)

0.754

In [33]:
preds_df = pd.DataFrame(preds, columns=['id', 'prediction'])
pd.DataFrame(preds).to_csv(f'data/wanli/leaderboard_data/roberta-large-{model_name}_predictions.csv', index=False, header=None)

In [34]:
preds_df

          id  prediction
0     259676     neutral
1      88755     neutral
2     270193  entailment
3     164269  entailment
4       6435  entailment
...      ...         ...
4995   80354     neutral
4996  210832  entailment
4997   30924  entailment
4998  369387     neutral
4999  212442  entailment

[5000 rows x 2 columns]